av==10.0.0
deepdiff==6.7.1
dill==0.3.5.1
diffusers==0.11.1
einops==0.4.1
free-mujoco-py==2.1.6
hydra_core==1.2.0
imagecodecs==2022.9.26
matplotlib==3.6.1
opencv-python==4.9.0.80
numba==0.56.4
pandas==2.0.3
pygame==2.1.2
pymunk==6.2.1
robomimic==0.2.0
scikit-image==0.19.3
shapely==1.8.4
threadpoolctl==3.1.0
timm==0.9.12
torch==2.1.0
torchvision==0.16.0
wandb==0.16.2
zarr==2.12.0